/* jai ganesh */
* {
    /* ----- universal selector to make color and text-decoration of whole page. Initially anchor tags were coming with underline, that's why introduced text-decoration and set it to none. ----- */
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

/* div {
    height: 60px;
} */

#navbar {
    /* -----this ID selector helped to acheive desired height and background color of the web-page. ----- */
    background-color: black;
    height: 60px;
}

#logo {
    /* ----- inside the Id selector navbar, we again made an ID selector named logo to specially design the logo of amazon.in ----- */
    font-size: 25px;
    color: #f08804;
}

button {
    /* ----- to design the button ----- */
    background-color: #f08804;
}

a {
    /* ----- to give space between different anchor tags. This can also be done using padding, but as per concept of giving space between two elements(not inside the two elements), use of margin is imperative. ----- */
    margin-right: 200px;
    /* padding-right: 200px; */
}